################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client_App/SignalR_ClientApp/obj/Debug
